<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <form action="/" method="post">
        <label>Имя:</label><br>
        <input type="text" name="first_name"><br>
        <label>Фамилия:</label><br>
        <input type="text" name="last_name"><br>
        <label>Email:</label><br>
        <input type="email" name="email"><br>
        <label>Пароль:</label><br>
        <input type="password" name="password"><br>
        <input type="submit" value="Зарегистрироваться">
    </form>
</body>
</html>
